PORT=3000
NODE_ENV=development
MONGO_URL=mongodb+srv://<username>:<password>@<cluster-host>/<db-name>?appName=<app-name>

# заповнити, коли з'явиться фронтенд, і підключити в cors({ origin: process.env.CLIENT_URL }) у server.js
CLIENT_URL=

CLOUDINARY_CLOUD_NAME=<cloud-name>
CLOUDINARY_API_KEY=<api-key>
CLOUDINARY_API_SECRET=<api-secret>
